<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Patient Appointments</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Patient Name Column -->
          <ng-container matColumnDef="patientName">
            <th mat-header-cell *matHeaderCellDef> Patient Name </th>
            <td mat-cell *matCellDef="let row"> {{row.patientName}} </td>
          </ng-container>

          <!-- Patient ID Column -->
          <ng-container matColumnDef="patientId">
            <th mat-header-cell *matHeaderCellDef> Patient ID </th>
            <td mat-cell *matCellDef="let row"> {{row.patientId}} </td>
          </ng-container>

          <!-- Appointment Date Column -->
          <ng-container matColumnDef="appointmentDate">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.appointmentDate | date:'shortDate'}} </td>
          </ng-container>

          <!-- Appointment Time Column -->
          <ng-container matColumnDef="appointmentTime">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let row"> {{row.appointmentTime}} </td>
          </ng-container>

          <!-- Doctor Column -->
          <ng-container matColumnDef="doctor">
            <th mat-header-cell *matHeaderCellDef> Doctor </th>
            <td mat-cell *matCellDef="let row"> {{row.doctor}} </td>
          </ng-container>

          <!-- Department Column -->
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let row"> {{row.department}} </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row" [ngClass]="row.status.toLowerCase()"> {{row.status}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>